.author_books {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
    row-gap: 70px;
    column-gap: 160px;
}