/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --blue-color: #1B3764;
  --yellow-color: #FFCA42;
  --gray-color: #F6F8FC;
  --blue-gray-color: #B4C7E7;
  --gray-color-1: #969AA0;
  --white-color: #ffffff;
  --background-color: #F4F8FF;
  --main-transition: 0.5s;
  --main-padding-top: 150px;
  --main-padding-bottom: 150px;
  --mobile-padding-top: 50px;
  --mobile-padding-bottom: 50px;
  --header-height: 130px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  /* padding-left: 15px;
  padding-right: 15px; */
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  body {
    width: 150vw;
  }
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  body {
    width: 100vw;
  }
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* .cardo-regular {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
}

.cardo-bold {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-style: normal;
}

.cardo-regular-italic {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: italic;
} */

/* Start Font settings */
.cardo-font {
  font-family: "Cardo", serif;
}
.h-h1 {
  font-family: "Cardo", serif;
  font-weight: bold;
  font-size: 65px;
}
.h-h2 {
  font-family: "Cardo", serif;
  font-weight: bold;
  font-size: 55px;
}
.h-h3 {
  font-family: "Cardo", serif;
  font-weight: bold;
  font-size: 45px;
}
.h-h4 {
  font-family: "Cardo", serif;
  font-weight: bold;
  font-size: 32px;
}
.h-h5 {
  font-family: "Cardo", serif;
  font-weight: bold;
  font-size: 24px;
}
.h-h6 {
  font-family: "Cardo", serif;
  font-weight: bold;
  font-size: 22px;
}
.h-h7 {
  font-family: "Cardo", serif;
  font-weight: bold;
  font-size: 19px;
}
.b-1 {
  font-weight: normal;
  font-size: 19px;
}
.b-2 {
  font-weight: normal;
  font-size: 18px;
}

/* End Font settings */